body {
  margin:auto;
  background-color: #3e3e3e;
  width:420px;
  height: 480px;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  margin-top:5%;
}


aside{
  width: 120px;
  height:66px;
  padding: 25px 0px 0px 0px;
  float: right;
  position: relative;
  background-color: #13BD5B;
  color:white;
  text-align:center;
}

.map {
  height: auto;
  width:375px;
  margin:0px;
}

.arrow {
  height: 20px;
  float:left;
  padding-left: 10px;
  position:absolute;
}


.container {
 width:375px;
 background-color: #fff;
 padding: 15px 0px 15px 0px;
}

nav {
  border-top:3px solid white;
  width: 355px;
  background-color: #EDF0EE;
  padding: 0px 0px 5px 20px;
  color: black;
}


.list{
  overflow: scroll;
  overflow-x: hidden;
  width:375px;
  height: 400px;
}


.noservice {
  background-color: #999;
  color: #444;
}


.reroute {
  background-color: #e57c04;
  font-style:oblique;
}

.reroute h5 {
  padding-top:15px;
}

.noservice h2 {
  font-weight: 550;
  font-style: oblique;
}

.noservice h5{
  font-size: 20px;
  color:white;
  font-style: normal;
}

.noservice h6{
  color:white;
}

.status {
   height:auto;
   width:375px;
}


h1{
  padding: 5px 0px 5px 0px;
  font-size: 24px;
  font-weight:600;
}


h2 {
  letter-spacing: 0.75px;
  padding-top: 10px;
}

h3{
  padding-bottom:10px;
  letter-spacing: .25px;
  font-weight: 100;
}

h4{
  font-size: 20px;
  color: #45be45;
}

h5{
  font-size: 32px;
  line-height: 15px;
  display: block;
}

h6 {
  padding-top:15px;
  font-size: 18px;
  line-height: 15px;
}
