body {
  margin:auto;
  background-color: #3e3e3e;
  width:420px;
  font-size: 16px;
  font-family: Helvetica, arial, sans-serif;
}

.container {
 width:420px;
 background-color: #fff;
 padding: 15px 0px 15px 0px;
}

.content {
  border-top:3px solid black;
  width: 400px;
  background-color: #45be32;
  padding: 25px 10px 20px 10px;
  color: white;
}
.list {
  display: inline-block;
  height: 620px;
  overflow: scroll;
}

.noservice {
  background-color: #999;
  color: #666666;

}

.reroute {
  background-color: #e57c04;
}

.time{
  width:20%;
  float: right;
}

.noservice h2 {
  font-weight: 550;
  font-style: oblique;
}

.noservice h5{
  font-size: 20px;
  color:white;
  font-style: normal;
}

.noservice h6{
  font-size: 16px;
  color: white
}

h5{
  font-size: 32px;
  line-height: 15px;
  display: block;
}

h6 {
  font-size: 24px;
  line-height: 15px;
}

h1{
  font-size: 60px;
  line-height: 40px;
  display: block;
  float:left;
  width: 30%;
}


h2 {
  padding-left: 10px;
  display:inline;
  float:inherit;
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: 0.75px;
  font-weight: 400;
}

h3{
  padding-left: 10px;
  display:inline;
  font-size: .9em;
  line-height: .9em;
  letter-spacing: .5px;
  font-weight: lighter;
}

h4{
  font-size: 20px;
  color: #45be45;
}
